<html>
    <body>
        <h3>Création d'une nouvelle formation</h3>
{{ form_start(form, {'action': path('validate_edit_formation', {'id': entity.getId()}) }) }}
        {{ form(form) }}
    </body>
</html>