<html>
    <body>
        <h3>Suppression du experience effectuée</h3>
{{ form_start(form, {'action': path('validate_delete_experience', {'id': entity.getId()}) }) }}
        {{ form(form) }}
    </body>
</html>